.inputHeading,
.outputContainer {
  margin: 15px;
}

.algoRadioContainer {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.individualRadioContainer {
  margin-right: 14px;
}

.inputHeading {

}

.label {
    display: block;
}

.outputContainer {

}