.input-heading,
.outputContainer {
  margin: 15px;
}

.algo-radio-container {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.individual-radio-container {
  margin-right: 14px;
}

.result-container {
  margin-top: 16px;
}

.result-container h3 {
  margin-left: 10px;
}

.label {
    display: block;
}
