.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 12px;
  padding: 20px;
  margin: 0 auto;
  width: 35%;
  box-shadow: 0 0 5px 1px #8e44ad;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.add-method-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.add-method-container input {
  margin-right: 6px;
}

.individual-input {
  display: flex;
  flex-direction: column;
}

.individual-input input[type="number"] {
  width: 20%;
}

.individual-input-inner {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.text-box {
  padding: 4px;
  margin-right: 5px;
}

.icon-class {
  width: 24px;
  height: 24px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px); /* Smooth upward movement */
  background-color: #8e44ad; /* Transition to a lighter purple */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Highlighted shadow */
}

button:active {
  transform: translateY(0); /* Reset the position on click */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Lower shadow on click */
}


