.accordion-container {
  margin-bottom: 1rem;
}

.accordion-inner-container {
  background-color: #f7f7f7;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.accordion-header {
  font-weight: bold;
}

.accordion-content {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
