.code-block-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: #1e1e1e;
  padding: 0.5rem;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 380px;
  margin-top: 0.5rem;
}

.copy-btn {
  position: absolute;
  top: 24px;
  right: 14px;
  background: none;
  border: none;
  cursor: pointer;
  color: #f1f1f1;
}

.syntax-highlighter {
  background-color: #2d2d2d;
}
